<div ng-controller="HomepageCtrl">
  <div class="jumbotron">
    <h2>学习去！</h2>
    <h2>约么咱？</h2>
    <p class="lead">
      <img src="img/ali.61f1.gif" alt="Gogogo"><br>
      线上预约，线下交流，拯救学渣，从我做起。
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#/login">约约约!<span class="glyphicon glyphicon-ok"></span></a></p>
  </div>

  <div class="row marketing">
    <h4>身为学渣题不会？</h4>
    <p>
      找个学霸来帮你复习，期末效率叼叼哒～记得给学霸带点Tips喽！
    </p>

    <h4>身为学霸孤求败？</h4>
    <p>
      找个学渣检验一下自己的水平，顺便还可以享受学渣的上供小食！
    </p>

    <h4>学渣互助共提高</h4>
    <p>三个臭皮匠，顶个诸葛亮。学渣互助共同提高！</p>
  </div>
</div>
